.bg-head-foot {
    background-color: #2C3E50;
}

.bg-green {
    background-color: #1ABC9C;
}

.bg-blue {
    background-color: #3A546D;
}

.color-white {
    color: white;
}

.color-green {
    color: #1ABC9C;
}

.padding-x {
    padding: 0 5rem;
}

.header-link a {
    padding-left: 1rem;
    font-weight: 600;
}

.jumbotron {
    text-align: center;
}

.jumbo-img {
    max-width: 250px;
}

.no-border {
    border: none;
}

.img-grid {
    border-radius: 10px;
}

.horizontal-rule {
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

.rule {
    width: 100px;
    height: 5px;
    border-radius: 20px;
    background-color: black;
}

.rule-white {
    background-color: white;
}

.star {
    width: 30px;
    align-self: center;
    margin: 0 1.5rem;
}

.star-white {
    filter: invert(1);
}

.btn svg {
    width: 20px;
    vertical-align: baseline;
    filter: invert(1);
}

.line-break {
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.circle {
    width: 50px;
    height: 50px;
    padding: 15px;
    border: 1px solid white;
    border-radius: 50%;
}

.circle svg {
    width: 100%;
    height: 100%;
    vertical-align: baseline;
    filter: invert(1);
}

.my-form-box {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ced4da;
    width: 100%;
    text-align: start;
}

#textarea {
    height: 100%;
}